.card-content {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 2rem;
  min-width: 250px;
}
.pokemon-content {
  display: flex;
  justify-content: center;
}
.pokemon-action {
  display: flex;
  padding: 0;
  justify-content: center;
}
