.card-content {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 2rem;
  min-width: 250px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 50%) !important;
}
.pokemon-content {
  display: flex;
  justify-content: center;
}
.pokemon-content__image {
  width: 100%;
}
.pokemon-action {
  display: flex;
  padding: 0;
  justify-content: center;
}
